.wrapper {
  width: 320px;
  margin: 0 auto;
}

.button {
  padding: 11px;
  height: 40px;
  border: none;
  border-radius: 22px;
  background-color: #ffd74b;
  color: #161c35;
  font-size: 17px;
  text-transform: uppercase;
  width: 100%;
  font-weight: bold;
  cursor: pointer;

  &--mango {
    background-color: #ff8d30;
  }

  &--orange {
    background-color: #ffbd30;
  }

  &--yellow {
    background-color: #ffd74b;
  }

  &--text {
    padding-left: 30px;
    padding-right: 30px;
    font-size: 17px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    vertical-align: middle;
    color: #161c35;
  }

  &--border {
    border: 3px solid #192144;
    border-radius: 10px;
    margin: 0 auto;
  }

  &--form {
    background-color: #dfe3f0;
    width: 100%;
    font-size: 17px;
  }

  &--no-background {
    background-color: #ffffff;
  }

  &--catalog {
    background-color: #d6daed;
    display: flex;
    justify-content: center;
  }
}

.burger {
  /* Позиционирование */
  /* Блочная модель */
  display: inline-block;
  width: 38px;
  height: 11px;
  /* Типографика */
  /* Оформление */
  background: 0;
  border: none;
  fill: white;
  cursor: pointer;
  /* Анимация */
  /* Разное */
}

.menu {
  /* Позиционирование */
  /* Блочная модель */
  display: none;
  /* Типографика */
  /* Оформление */
  /* Анимация */
  /* Разное */
}

.page-main {
  width: 320px;
}

.block-name {
  color: #ff8d30;
  font-weight: bold;
  font-size: 24px;
  padding-left: 23px;
  margin: 0;

  &--center {
    padding: 0;
    text-align: center;
  }
}
/**
.level-line--form {
  width: 49px;
  height: 2px;
  background-color: #cbced9;
}
**/
.form {
  position: relative;
  margin: 0 auto;
  width: 270px;

  &__email {
    height: 62px;
    border-radius: 15px;
    border: 0;
    padding-left: 24px;
    font-size: 18px;
    width: 100%;
    box-sizing: border-box;
    padding-right: 82px;
  }

  &__button {
    width: 60px;
    height: 62px;
    border-radius: 15px;
    background-color: #ffd74b;
    margin-left: -20px;
    background-image: url("../img/triangle-arrow-right.svg");
    background-size: 10px 14px;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    right: 0;
  }
}

.contacts {
  &__group {
    display: flex;
    align-items: center;
  }

  &__text {
    color: #ffd74b;
    font-size: 16px;

    &--dark-blue {
      color: #192144;
    }
  }

  &__img {
    width: 18px;
    height: 18px;
    margin: 13px;
  }

  &__background {
    width: 45px;
    height: 45px;
    background-color: #121936;
    border-radius: 40px;
  }
}

.form-content {
  width: 270px;
  margin: 0 auto;
}

.map {
  margin-top: -80px;
}

.small-cross {
  width: 21px;
  height: 21px;
  background-color: #edeff6;
  border-radius: 100%;
  background-image: url("../img/small-cross.svg");
  background-size: 9px;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.3;
  border: none;
  cursor: pointer;
}

.dropdown {
  width: 12px;
  height: 7px;
  opacity: 0.3;
  background-image: url("../img/dropdown-form.svg");
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
}

.plusform {
  width: 14px;
  height: 14px;
  background-image: url("../img/qty-plus-mobile.svg");
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  opacity: 0.3;
}

.content-wrapper {
  width: 270px;
  margin: 0 auto;
  margin-top: -10px;
  padding-top: 25px;
  padding-bottom: 50px;
}

.level {
  position: absolute;
  top: 10px;
  left: 10px;
  display: flex;
  flex-direction: column;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
  background-color: ~"rgba(0,0,0,0.5)";
  border: solid 3px #ff8d30;

  &--form {
    position: relative;
    top: 0;
    left: 0;
    width: 94px;
    height: 94px;

  }

  &-text:first-child {
    margin: 0;
    padding-top: 10px;
  }

  &-text--form:first-child {
    font-size: 38px;
  }

  &-text:last-child {
    padding-bottom: 10px;
  }

  &-text--form:last-child {
    font-size: 18px;
  }

  &-line {
    width: 31px;
    height: 1px;
    background-color: #ffffff;

    &--form {
      width: 49px;
      height: 2px;
      background-color: #cbced9;
    }
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
