.wrapper {
  width: 320px;
  margin: 0 auto;
}

.button {
  padding: 11px;
  height: 40px;
  border: none;
  border-radius: 22px;
  background-color: #ffd74b;

  &--mango {
    background-color: #ff8d30;
  }

  &--orange {
    background-color: #ffbd30;
  }

  &--yellow {
    background-color: #ffd74b;
  }

  &--text {
    padding-left: 30px;
    padding-right: 30px;
    font-size: 17px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    vertical-align: middle;
    color: #161c35;
  }
}

.burger {
  /* Позиционирование */
  /* Блочная модель */
  display: inline-block;
  width: 35px;
  height: 11px;
  /* Типографика */
  /* Оформление */
  background: 0;
  border: none;
  fill: white;
  cursor: pointer;
  /* Анимация */
  /* Разное */
}

.menu {
  /* Позиционирование */
  /* Блочная модель */
  display: none;
  /* Типографика */
  /* Оформление */
  /* Анимация */
  /* Разное */
}

.page-main {
  width: 320px;
}

.block-name {
  color: #ff8d30;
  font-weight: bold;
  font-size: 24px;
  padding-left: 30px;
}

.line-level {
  width: 31px;
  height: 1px;
  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
