.header {
  width: 320px;

  background-image: url("../img/globe-back-mobile@1x.jpg");
  background-repeat: no-repeat;

  &__logo {
    display: flex;
    justify-content: space-between;

    .logo {
      margin: 10px 0 0 10px;
    }

    .header__menu {
      margin: 10px 10px 0 0;
    }
  }

  &__slogan {

    padding: 0;
    margin: 20px auto 0;

    display: flex;
    width: 234px;
    height: 114px;
    font-size: 28px;

    color: #ffffff;
    text-align: center;



  }

  &__img {
    margin: 0 auto;

    width: 192px;
    height: 255px;
  }

  &__buttons {
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    width: 269px;
  }
}

.button {
  padding: 12px;

  height: 42px;

  border: none;
  border-radius: 22px
}

.button--mango {
  background-color: #ff8d30;
}

.button--orange {
  background-color: #ffbd30;
}

.button--yellow {
  background-color: #ffd74b;
}

.button--text {
  text-align: center;
  vertical-align: middle;
  font-size: 17px;
  font-weight: bold;
  color: #161c35;
  padding-left: 30px;
  padding-right: 30px;
  text-transform: uppercase;
}

.burger {
  /* Позиционирование */

  /* Блочная модель */
  display: inline-block;
  width: 25px;
  height: 11px;
  /* Типографика */

  /* Оформление */
  background: 0;
  border: none;
  fill: white;
  cursor: pointer;
  /* Анимация */

  /* Разное */

}

.menu {
  /* Позиционирование */

  /* Блочная модель */
  display: none;
  /* Типографика */

  /* Оформление */

  /* Анимация */

  /* Разное */
}


  /* Позиционирование */

  /* Блочная модель */

  /* Типографика */

  /* Оформление */

  /* Анимация */

  /* Разное */
