.header {
  display: block;
  width: 320px;
  background-image: url("../img/globe-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-color: #192144;

  &__top {
    display: flex;
    justify-content: space-between;
    padding: 28px 19px 0 25px;
  }

  &__slogan {
    padding: 0;
    margin: 40px auto 0;
    display: flex;
    width: 250px;
    height: 114px;
    font-size: 36px;
    color: #ffffff;
    text-align: center;
  }

  &__img {
    margin: 23px 0 0 80px;
    width: 192px;
    height: 255px;
  }

  &__buttons {
    margin: -21px auto -35px;
    display: flex;
    justify-content: space-between;
    width: 269px;
  }

  &__reviews {
    background-color: #192144;
  }
}
/* Позиционирование */
/* Блочная модель */
/* Типографика */
/* Оформление */
/* Анимация */
/* Разное */
