.header {
  display: block;
  width: 320px;
  background-image: url("../img/globe-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-color: #192144;

  &__logo {
    display: flex;
    justify-content: space-between;

    .logo {
      margin: 10px 0 0 10px;
    }

    .header__menu {
      margin: 10px 10px 0 0;
    }
  }

  &__slogan {
    padding: 0;
    margin: 20px auto 0;
    display: flex;
    width: 234px;
    height: 114px;
    font-size: 28px;
    color: #ffffff;
    text-align: center;
  }

  &__img {
    margin: 0 auto;
    width: 192px;
    height: 255px;
  }

  &__buttons {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    width: 269px;
  }
}

.button {
  padding: 12px;
  height: 42px;
  border: none;
  border-radius: 22px;
}

.button--mango {
  background-color: #ff8d30;
}

.button--orange {
  background-color: #ffbd30;
}

.button--yellow {
  background-color: #ffd74b;
}

.button--text {
  padding-left: 30px;
  padding-right: 30px;
  font-size: 17px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  color: #161c35;
}

.burger {
  /* Позиционирование */
  /* Блочная модель */
  display: inline-block;
  width: 25px;
  height: 11px;
  /* Типографика */
  /* Оформление */
  background: 0;
  border: none;
  fill: white;
  cursor: pointer;
  /* Анимация */
  /* Разное */
}

.menu {
  /* Позиционирование */
  /* Блочная модель */
  display: none;
  /* Типографика */
  /* Оформление */
  /* Анимация */
  /* Разное */
}

.reviews-block {
  margin-left: 50px;
  margin-top: 50px;
  width: 160px;

  &__text {
    color: #ffffff;
    font-size: 16px;
    line-height: 1.38;
    text-align: left;
    font-style: normal;
  }

  &__text--bold {
    font-weight: bold;
  }
}

.instruction {
  padding-top: 50px;
  width: 270px;
  margin: 0 auto;
  padding-left: 0;

  &__list {
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    width: 270px;
    height: 160px;
    border-radius: 20px;
    margin-top: -40px;
  }

  &__item--mango {
    background-color: #ff8d30;
  }

  &__item--mango-two {
    background-color: #ffa530;
  }

  &__item--orange {
    background-color: #ffbd30;
  }

  &__item--yellow {
    background-color: #ffd74b;
  }

  &__text {
    font-size: 18px;
    font-weight: bold;
    color: #161c35;
    margin-left: 25px;
    margin-right: 25px;
    vertical-align: middle;
  }

  &__text--white {
    color: #ffffff;
    text-align: right;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* Позиционирование */
/* Блочная модель */
/* Типографика */
/* Оформление */
/* Анимация */
/* Разное */
