.service-block {
  width: 320px;
  background-color: #141b3b;

  &__content {
    width: 270px;
    margin: 0 auto;
  }

  &__background {
    background-image: url("../img/about-mobile@1x.png");
    background-repeat: no-repeat;
  }

  &__name {
    color: #ff8d30;
    font-weight: bold;
    font-size: 24px;
  }

  &__text {
    color: #ffffff;
    font-size: 16px;
    width: 250px;
  }
}
